<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Usuarios</title>
    <link rel="stylesheet" href="/css/style.css"> <!-- Enlazamos el archivo CSS -->
</head>
<body>
    <header>
        <h1>Gestión de Usuarios</h1>
    </header>

    <!-- Navbar -->
    <nav>
        <ul>
            <li><a href="/">Inicio</a></li>
            <li><a href="/agregar/agregarUsuario">Agregar Usuario</a></li>
            <li><a href="/actualizar/actualizarUsuario">Editar usuario</a></li>
            <li><a href="/eliminar/eliminarUsuario">Eliminar usuario</a></li>
        </ul>
    </nav>

    <h2>Lista de Usuarios</h2>

    <table>
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Correo</th>
                <th>Teléfono</th>
                <th>Edad</th>
                <th>Dirección</th>
                <th>Acciones</th>
            </tr>
        </thead>
      
    </table>
</body>
</html>
